{@java.util.Map<java.lang.String,java.util.List<cchet.app.microservice.store.store.domain.Product>> productToTypeMap}
{@cchet.app.microservice.store.store.domain.Product product}
{@java.util.List<cchet.app.microservice.store.store.domain.Order> orders}
{@java.util.List<cchet.app.microservice.store.store.domain.Product> products}
{@cchet.app.microservice.store.store.MenuItem menuItem}
<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.min.css"/>  
        <link rel="stylesheet" href="/webjars/font-awesome/css/solid.css">
        <link rel="stylesheet" href="/assets/css/style.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <header>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/ui/">Store</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  {#if username != null}
                    <li class="nav-item">
                      <a class="nav-link {#if menuItem.name is 'PRODUCTS'}active{/if}" href="/ui/secured/products">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {#if menuItem.name is 'ORDERS'}active{/if}" href="/ui/secured/orders">Orders</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {#if menuItem.name is 'BASKET'}active{/if}" href="/ui/secured/basket">Basket</a>
                    </li>
                  {/if}
                </ul>
                <div class="ms-auto d-flex flex-row align-items-center ">
                  {#if username != null}
                    <a href="/ui/logout" class="btn btn-primary">
                      Logout
                      <span class="ms-2 fas fa-sign-out"/>
                    </a>
                  {#else}
                    <a href="/ui/secured/products" class="btn btn-primary">
                      Login
                      <span class="ms-2 fas fa-sign-in"/>
                    </a>
                  {/if}
                </div>
              </div>
            </div>
          </nav>
        </header>

        <section class="content-section overflow-auto">
          {#if menuItem.name is 'STORE'}
              <div class="container d-flex align-items-center flex-column">
                <img src="/assets/images/store.png" width="40%" alt="Store"/>
                {#if username != null}
                  <h1>Welcome to the Store</h1>
                  <span class="fs-4">{username}</span>
                {#else}
                  <h1>Please login to access the store</h1>
                {/if}
              </div>
          {#else if menuItem.name is 'PRODUCTS'}
              <div class="container mt-3 mb-3">
                  {#for entry in productToTypeMap.entrySet}
                    <div class="mt-2">
                      <h2>{entry.key}</h2>
                      <ul class="list-group">
                      {#for product in entry.value}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{product.id} - {product.name}</div>
                            Price: {product.price}&euro;, Tax: {product.taxRate}%
                          </div>
                          <div class="d-flex align-items-center">
                          <span class="badge bg-primary rounded-pill">{product.count} available</span>
                          {#if product.count > 0}
                          <div class="ms-3">
                            <form action="/ui/secured/products" method="POST">
                              <input type="hidden" name="productId" value="{product.id}" />
                              <button type="submit" class="btn btn-primary btn-sm">
                                <span class="fas fa-plus fa-lg text-light"></span>
                                Add
                              </button>
                            </form>
                          </div>
                          {/if}
                          </div>
                        </li>
                      {/for}
                      </ul>
                    </div>
                  {/for}
              </div>
          {#else if menuItem.name is 'ORDERS'}
              <div class="container mt-3 mb-3">
                {#if orders.empty == false}
                  <ol class="list-group list-group-numbered">
                  {#for order in orders}
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{order.id} - {order.price}</div>
                        itemCount {order.items.size()}
                      </div>
                      <div class="badge bg-primary rounded-pill me-2">{time:format(order.createdAt, dateTimePattern)}</div>
                      <div class="badge bg-primary rounded-pill">{order.price}&euro;</div>
                    </li>
                  {/for}
                  </ol>
                {#else}
                  <div class="container d-flex align-items-center flex-column justify-content-center">
                    <img src="/assets/images/empty-bag.png" width="10%" alt="Empty bag"/>
                    <h1>You have no orders yet</h1>
                  </div>
                {/if}
                </div>
          {#else if menuItem.name is 'BASKET'}
              <div class="container mt-3 mb-3">
                {#if basket.items.empty == false}
                  <h1 class="text-center">Basket Items</h1>
                  <hr/>
                  {#for entry in productToTypeMap.entrySet}
                    <div class="mt-2">
                      <h2>{entry.key}</h2>
                      <ul class="list-group">
                      {#for product in entry.value}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{product.id} - {product.name}</div>
                            Price: {product.price}&euro;, Tax: {product.taxRate}%
                          </div>
                          <span class="badge bg-primary rounded-pill">{basket.coundForProductId(product.id)} added</span>
                        </li>
                      {/for}
                      </ul>
                    </div>
                  {/for}
                {#else}
                  <div class="container d-flex align-items-center flex-column justify-content-center">
                    <img src="/assets/images/empty-bag.png" width="10%" alt="Empty bag"/>
                    <h1>You have no products in your basket yet</h1>
                  </div>
                {/if}
              </div>
          {/if} 
        </section>
        <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/webjars/font-awesome/js/fontawesome.min.js"></script>
    </body>
</html>