{@java.util.List<cchet.app.microservice.store.store.domain.Product> products}
{@cchet.app.microservice.store.store.MenuItem menuItem}
<!DOCTYPE html>
<html>
    <head>
        <title>Store</title>
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/webjars/font-awesome/css/fontawesome.min.css"/>  
        <link rel="stylesheet" href="/webjars/font-awesome/css/solid.css">
    </head>
    <body>
        <header>
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/ui/">Store</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  {#if username != null}
                    <li class="nav-item">
                      <a class="nav-link {#if menuItem.name is 'PRODUCTS'}active{/if}" href="/ui/secured/products">Products</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link {#if menuItem.name is 'ORDERS'}active{/if}" href="/ui/secured/orders">Orders</a>
                    </li>
                  {/if}
                </ul>
                <div class="ms-auto">
                  {#if username != null}
                    <a href="/ui/logout" class="btn btn-primary">
                      Logout
                      <span class="ms-2 fas fa-sign-out"/>
                    </a>
                  {#else}
                    <a href="/ui/secured/products" class="btn btn-primary">
                      Login
                      <span class="ms-2 fas fa-sign-in"/>
                    </a>
                  {/if}
                </div>
              </div>
            </div>
          </nav>
        </header>

        {#if menuItem.name is 'STORE'}
            <div class="container d-flex align-items-center flex-column">
              <img src="/assets/images/store.png" width="40%" alt="Store"/>
              {#if username != null}
                <h1>Welcome to the Store</h1>
                <span class="fs-4">{username}</span>
              {#else}
                <h1>Please login to access the store</h1>
              {/if}
            </div>
        {#else if menuItem.name is 'PRODUCTS'}
            <div class="container mt-3 mb-3">
                <ol class="list-group list-group-numbered">
                {#for product in products}
                  <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold">{product.id} - {product.name}</div>
                      Price: {product.price}&euro;, Tax: {product.taxRate}%
                    </div>
                    <span class="badge bg-primary rounded-pill">{product.count}</span>
                  </li>
                {/for}
                </ol>
            </div>
        {#else if menuItem.name is 'ORDERS'}
          Here are orders
        {/if} 
        <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/webjars/font-awesome/js/fontawesome.min.js"></script>
     
    </body>
</html>