  <div class="container mt-3 mb-3">
    {#for entry in it.entrySet}
    <div class="mt-2">
        <h2>{entry.key}</h2>
        <ul class="list-group">
        {#for product in entry.value}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
            <div class="fw-bold">{product.id} - {product.name}</div>
            Price: {product.price}&euro;, Tax: {product.taxRate}%
            </div>
            <div class="d-flex align-items-center">
            {nested-content} 
        </li>
        {/for}
        </ul>
    </div>
    {/for}
</div>